<div class="col-md-4">

    <div class="card player-card">
        <img src="{{photo}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{lastName}}</h5>
            <p class="card-text">Equipo: {{team}}</p>
        </div>
    </div>

</div>